Repository elastic/ecs-logging-java, pull requests merged in 2022-04, with the labels that each got.

#179 ECS-JUL enhancements
  ecs-logging-core/src/test/java/co/elastic/logging/AbstractEcsLoggingTest.java
  jul-ecs-formatter/src/main/java/co/elastic/logging/jul/EcsFormatter.java
  jul-ecs-formatter/src/test/java/co/elastic/logging/jul/JulLoggingTest.java
Labels: agent-java

#178 Reduce allocations for formatting exception stack traces
  ecs-logging-core/src/main/java/co/elastic/logging/EcsJsonSerializer.java
  ecs-logging-core/src/main/java/co/elastic/logging/JsonUtils.java
  ecs-logging-core/src/test/java/co/elastic/logging/EcsJsonSerializerTest.java
Labels: agent-java, community, triage

#180 Remove trailing space from serialization
  ecs-logging-core/src/main/java/co/elastic/logging/EcsJsonSerializer.java
  ecs-logging-core/src/test/java/co/elastic/logging/AbstractEcsLoggingTest.java
  ecs-logging-core/src/test/java/co/elastic/logging/EcsJsonSerializerTest.java
Labels: agent-java

#177 Configurable exception pattern for log4j2
  log4j2-ecs-layout/src/main/java/co/elastic/logging/log4j2/EcsLayout.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/CustomExceptionPatternConverter.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/EcsLayoutWithExceptionPatternTest.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/EcsLayoutWithStackTraceAsArrayTest.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/Log4j2EcsLayoutIntegrationTest.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/Log4j2EcsLayoutTest.java
  log4j2-ecs-layout/src/test/resources/log4j2-test.xml
Labels: agent-java, community, triage

#168 Added support for service.version
  docs/tab-widgets/ecs-encoder.asciidoc
  ecs-logging-core/src/main/java/co/elastic/logging/EcsJsonSerializer.java
  ecs-logging-core/src/test/java/co/elastic/logging/AbstractEcsLoggingTest.java
  ecs-logging-core/src/test/java/co/elastic/logging/EcsJsonSerializerTest.java
  jboss-logmanager-ecs-formatter/src/main/java/co/elastic/logging/jboss/logmanager/EcsFormatter.java
  jboss-logmanager-ecs-formatter/src/test/java/co/elastic/logging/jboss/logmanager/JBossLogManagerTest.java
  jul-ecs-formatter/src/main/java/co/elastic/logging/jul/EcsFormatter.java
  jul-ecs-formatter/src/test/java/co/elastic/logging/jul/JulLoggingTest.java
  log4j-ecs-layout/src/main/java/co/elastic/logging/log4j/EcsLayout.java
  log4j-ecs-layout/src/test/java/co/elastic/logging/log4j/Log4jEcsLayoutTest.java
  log4j-ecs-layout/src/test/resources/log4j.xml
  log4j2-ecs-layout/src/main/java/co/elastic/logging/log4j2/EcsLayout.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/CustomExceptionPatternConverter.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/EcsLayoutWithExceptionPatternTest.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/EcsLayoutWithStackTraceAsArrayTest.java
  log4j2-ecs-layout/src/test/java/co/elastic/logging/log4j2/Log4j2EcsLayoutTest.java
  log4j2-ecs-layout/src/test/resources/log4j2-test.xml
  logback-ecs-encoder/src/main/java/co/elastic/logging/logback/EcsEncoder.java
  logback-ecs-encoder/src/test/java/co/elastic/logging/logback/EcsEncoderTest.java
  logback-ecs-encoder/src/test/java/co/elastic/logging/logback/EcsEncoderWithStacktraceAsArrayTest.java
  logback-ecs-encoder/src/test/resources/logback-config-with-nop-throwable-converter.xml
  logback-ecs-encoder/src/test/resources/logback-config.xml
Labels: agent-java, community

#182 JUL - fix loading of boolean configs
  jul-ecs-formatter/src/main/java/co/elastic/logging/jul/EcsFormatter.java
  jul-ecs-formatter/src/test/java/co/elastic/logging/jul/JulIntegrationTest.java
  jul-ecs-formatter/src/test/java/co/elastic/logging/jul/JulLoggingTest.java
  jul-ecs-formatter/src/test/resources/logging.properties
Labels: agent-java

#183 [DOCS] Add reference to ECS-reformatting configuration
  docs/setup.asciidoc
Labels: agent-java
